# coreutils
alias grep="grep --color=auto"
alias ls="ls -GF"
#alias diff="diff --color=auto"

alias bc='bc -q'

# shell
alias fgfg=fg
alias ifg=fg

# programming
alias gdb='gdb -q' # quiet
alias make='make --no-print-directory'

# aliases affecting shell state
mkcd(){
	if [ $# -ne 1 ]
	then
		echo "Usage: $0 dir" >&2
		return 1
	fi
	mkdir -p "$1"
	cd "$1"
}

nh(){
	if [ $# -eq 0 ]
	then
		echo "usage: nh program [args]" >&2
		return 1
	else
		nohup "$@" >& /dev/null &
		disown %nohup
	fi
}
