# see global ignore file @ ~/.config/git/ignore

[user]
	name = Rob Pilling
	email = robpilling@gmail.com
	useConfigOnly = true

[alias]
	adp = add -p
	adu = add -u
	amend = commit --amend
	c-p = cherry-pick
	ci = commit
	co = checkout
	di = diff --ws-error-highlight=all
	dic = diff --cached
	ff = merge --ff-only
	lg = log --oneline
	rbc = rebase --con
	rbi = rebase -i
	t = status -sb
	fe = fetch -p
	logf = log --format=fuller --date=iso-strict

[interactive]
	singlekey = true

[rerere]
	enabled = true

[rebase]
	autosquash = true

[diff]
	renames = copies
	mnemonicprefix = true

[merge]
	defaultToUpstream = true
	tool = vimdiff

[advice]
	pushUpdateRejected = false
	pushNonFFCurrent = false
	pushNonFFDefault = false
	pushNonFFMatching = false
	pushAlreadyExists = false
	pushFetchFirst = false
	pushNeedsForce = false
	statusHints = false
	commitBeforeMerge = false
	resolveConflict = false
	detachedHead = false

[push]
	default = nothing

[color]
	ui = true
