.vim/bundle/*/
.vim/undo-nvim/

.ssh/known_hosts
.ssh/id_*
.ssh/env_agent
.ssh/gpg_env_agent
.ssh/authorized_keys

.vnc/passwd

.local/share

.terminfo/

.gnupg/private-keys-v1.d/
.gnupg/public-keys.d/
.gnupg/S.*
.gnupg/trustdb.gpg
.gnupg/.gpg-connect_history

zshcompl/
contrib/
