[user]
	name = Rob Pilling
	email = robpilling@gmail.com

[core]
	pager = less -F -X

[alias]
	adp = add -p
	adu = add -u
	amend = commit --amend
	c-p = cherry-pick
	ci = commit
	co = checkout
	di = diff --ws-error-highlight=all
	dic = diff --cached
	ff = merge --ff-only
	lauth = log --graph --pretty=format:'%h %an <%ae> %s'
	lg = log --graph --pretty=format:'%C(auto,red)%h%C(auto,reset) -%C(auto,yellow)%d%C(auto,reset) %s %C(auto,bold blue)<%ae>%C(auto,reset)'
	rbc = rebase --con
	rbi = rebase -i
	st = status -sb
	standup = log --all --since=1.day --committer=Pilling
	t = status -sb

[interactive]
	singlekey = true

[rerere]
	enabled = true

[rebase]
	autosquash = true

[diff]
	renames = copies
	mnemonicprefix = true

[merge]
	defaultToUpstream = true
	tool = vimdiff

[advice]
	pushUpdateRejected = false
	pushNonFFCurrent = false
	pushNonFFDefault = false
	pushNonFFMatching = false
	pushAlreadyExists = false
	pushFetchFirst = false
	pushNeedsForce = false
	statusHints = false
	commitBeforeMerge = false
	resolveConflict = false
	detachedHead = false

[push]
	default = nothing

[grep]
	extendedRegexp = yes

[color]
	ui = true

[cola]
	spellcheck = false
[diff "bin"]
	textconv = hexdump -v -C
