# see global ignore file @ ~/.config/git/ignore

[alias]
	t = status -sb
	co = checkout
	ci = commit
	di = diff
	lg = log --oneline
	adu = add -u
	adp = add -p
	dic = diff --cached
	ff = merge --ff-only
	rbi = rebase -i
	rbc = rebase --con
	amend = commit --amend

[interactive]
	singlekey = true

[advice]
	pushUpdateRejected = false
	pushNonFFCurrent = false
	pushNonFFDefault = false
	pushNonFFMatching = false
	pushAlreadyExists = false
	pushFetchFirst = false
	pushNeedsForce = false
	statusHints = false
	commitBeforeMerge = false
	resolveConflict = false
	detachedHead = false

[rerere]
	enabled = true
